# COSMOS GITIGNORE CONFIGURATION
#
# This file lists all the items to be ignored by Git.
# They are usually build products such as object files, libraries and executables.

# Binaries
bin/
*.lib
*.h.gch

# Visual Studio Items
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Precompiled Header Source (MSVC Only)
Cosmos/src/cspch.cpp